@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

$sarcelle: #799A79;
$orange: #EF883A;
$bleuClair: #B4C9F4;
$blancCasse: #F8F8F4;
$roseMauve: #CC7DAF;
$bleuProfond: #2A519F;
$blackText: #3C394C;


body,
.site {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;


    .titre_front {
        width: 70%;
        margin: 50px 0 50px 0;
    }
}

h1,
h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.titre-principal {
    font-size: 1.7em;
    color: $orange;
    text-align: center;
    line-height: 1.8;

}

p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.8;
}

.custom-shape-divider-top-1708940904 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1708940904 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 68px;
}

.custom-shape-divider-top-1708940904 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1708940904 svg {
        width: calc(165% + 1.3px);
        height: 68px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1708940904 svg {
        width: calc(177% + 1.3px);
        height: 43px;
    }
}

.custom-shape-divider-bottom-1708940949 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708940949 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 68px;
}

.custom-shape-divider-bottom-1708940949 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1708940949 svg {
        width: calc(165% + 1.3px);
        height: 68px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1708940949 svg {
        width: calc(177% + 1.3px);
        height: 43px;
    }
}


@media only screen and (max-width: 1044px) {
    .front .titre_front {
        width: 80%;

    }

    .titre-principal {
        line-height: 1.5;
    }
}
